# --- Virtual environments ---
.venv/
venv/
env/

# --- Python cache ---
__pycache__/
*.pyc
*.pyo

# --- Jupyter ---
.ipynb_checkpoints/

# --- Ignore ONLY raw data folder ---
ecommerce-analytics-project/data/
**/data/

# --- OS / Editor ---
.DS_Store
.vscode/